$mycolor: (
	bodyColor: #777,
);
$color-primary: #b71307;
$color-secondary: #ff7730;
$color-gray-light: #999;
$color-gray-dark: #333;

$fontSize: 1.6rem;
$fontweight: 400;
$fontP: 'PT Serif', sans-serif;
$fontS: 'Prata', sans-serif;
$fontC: 'Allura', cursive;
